html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Mulish', sans-serif;
  min-width: 320px;
  min-height: 100vh;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  background: #F8E8E2 url(../img/bg.svg) no-repeat top/contain;
  color: #000000;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p,
fieldset {
  margin: 0;
}

.container {
  --width: 1180px;
  --padding: 30px;
  max-width: calc(var(--width) + (var(--padding) * 2));
  padding: 0 var(--padding);
  margin: 0 auto;
}

.btn {
  color: #ffffff;
  border-radius: 40px;
  background-color: #F44;
  box-shadow: 0px 4px 20px 0px #FA5A5A;
  padding: 12px 28px;
}

.text-red {
  color: #F44;
}

@media (max-width: 1240px) {
  body {
    background-image: url(../img/bg_laptop.svg);
  }

  .container {
    --width: 880px;
  }
}

@media (max-width: 940px) {
  body {
    background-image: url(../img/bg_tablet.svg);
    font-size: 14px;
  }

  .container {
    --width: 608px;
    --padding: 15px;
  }

  .btn {
    box-shadow: 0px 2px 10px 0px #FA5A5A;
    padding: 8px 20px;
  }
}

@media (max-width: 640px) {
  body {
    background-image: url(../img/bg_mobile.svg);
  }
}