.goods {
  padding: 60px 0 70px;
}

.goods__title {
  font-size: 44px;
  font-weight: 900;
  margin-bottom: 40px;
}

.goods__list {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  gap: 20px;
}

.cocktail {
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  background-color: #FFF;
  padding: 12px;
  height: 100%;
}

.cocktail__img {
  width: 100%;
  border-radius: 24px;
}

.cocktail__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.cocktail__text {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2px 5px;
  margin-bottom: 10px;
}

.cocktail__title {
  grid-row: 1/3;
  font-size: inherit;
  font-weight: 400;
}

.cocktail__price {
  font-weight: 600;
  text-align: end;
}

.cocktail__size {
  flex: 0 0 100%;
  color: #C1C1C1;
  font-size: 12px;
  font-weight: 600;
  text-align: end;
}

.cocktail__btn {
  margin-top: auto;
}

@media (max-width: 1240px) {
  .goods__list {
    grid-template-columns: repeat(3, 280px);
  }
}

@media (max-width: 940px) {
  .goods {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .goods__title {
    margin-bottom: 16px;
    font-size: 24px;
  }

  .goods__list {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 16px;
  }

  .cocktail {
    border-radius: 12px;
    padding: 8px;
  }

  .cocktail__img {
    border-radius: 12px;
    margin-bottom: 8px;
  }

  .cocktail__content {
    padding: 0;
  }

  .cocktail__text {
    row-gap: 8px;
    margin-bottom: 16px;
  }

  .cocktail__title {
    flex: 0 0 100%;
  }

  .cocktail__size {
    flex: auto;
    font-size: 10px;
  }
}

@media (max-width: 640px) {
  .goods {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .goods__list {
    gap: 10px;
  }
}