.goods {
  padding: 60px 0 70px;
}

.goods__title {
  font-size: 44px;
  font-weight: 900;
  margin-bottom: 40px;
}

.goods__list {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  gap: 20px;
}

.cocktail {
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  background-color: #FFF;
  padding: 12px;
  height: 100%;
}

.cocktail__img {
  width: 100%;
  border-radius: 24px;
}

.cocktail__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.cocktail__text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2px;
}

.cocktail__title {
  font-size: 18px;
  font-weight: 400;
  margin-right: 5px;
}

.cocktail__price {
  font-weight: 600;
}

.cocktail__size {
  color: #C1C1C1;
  font-size: 12px;
  font-weight: 600;
  align-self: flex-end;
  margin-bottom: 10px;
}

.cocktail__btn {
  margin-top: auto;
}