.hero {
  padding: 30px 0 85px 0;
}

.hero__container {
  position: relative;
}

.hero__title {
  font-size: 84px;
  font-weight: 900;
  max-width: 880px;
}

.hero__cups {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  padding-top: 270px;
}

.hero__cup {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 24px;
}

.hero__cup_pink {
  background-color: #FF196C;
}

.hero__cup_orange {
  background-color: #FFB72A;
  align-self: flex-start;
  margin-top: -70px;
}

.hero__cup_green {
  background-color: #34B905;
}

.hero__img {
  position: absolute;
  width: 55%;
  bottom: 13%;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1240px) {
  .hero {
    padding-bottom: 30px;
  }

  .hero__title {
    font-size: 64px;
    max-width: 680px;
  }

  .hero__cups {
    padding-top: 216px;
  }

  .hero__cup_orange {
    margin-top: -50px;
  }
}

@media (max-width: 940px) {
  .hero {
    padding-bottom: 46px;
  }

  .hero__title {
    font-size: 44px;
    max-width: 468px;
  }

  .hero__cups {
    padding-top: 112px;
    gap: 13px;
  }

  .hero__cup {
    border-radius: 12px;
  }

  .hero__cup_orange {
    margin-top: -35px;
  }

  .hero__img {
    bottom: 9%;
    width: 60%;
  }
}

@media (max-width: 640px) {
  .hero {
    padding-top: 0;
    padding-bottom: 120px;
  }

  .hero__title {
    font-size: 36px;
  }

  .hero__cups {
    display: none;
  }
}